#nav-top{
    display: flex;
    width: 1519.2px;
    height: 100px;
    /* border: 1px solid red; */
    padding: 10px 0 10px 0;
    justify-content: space-around;
}
#nav-top>div>div:nth-child(1){
    border: 1px solid #9999996e;
}
#nav-top>div>div:nth-child(2){
    border: 1px solid #9999996e;
}
#nav-top>div>div:nth-child(3){
    border: 1px solid #9999996e;
}
#logo{
    width:287.5px ;
    height: 64px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
}
#search{
    width: 640px;
    height: 55px;
    /* padding: 0 20px 0 20px; */
    margin-top: 20px;
    display: flex;
}
#login_btn{
    display: flex;
    width: 290px;
    height: 68px;
    margin-top: 20px;
    border: 1px solid red;
}
#Card>select{
    width: 217px;
    height: 50px;
    border: none;
    border-right: 1px solid #80808024;
    text-decoration: none solid rgb(153 ,153,153);
    color: #999999;
    cursor: pointer;
}
#search>div:nth-child(2){
    width: 390px;
    /* border: 1px dotted red; */
}
#search>div:nth-child(2)>input{
    width: 100%;
    height: 50px;
    border: none;
    text-decoration: none solid rgb(153 ,153,153);
    color: #999999;
}
#search>div:nth-child(3){
    border: 1px dotted teal;
    width: 50px;
    /* margin-left: 250px; */
    background-color: #DD0285;
    cursor: pointer;
}
#search>div:nth-child(3)>img{
    width: 30px;
    margin-top: 14px;
    margin-left: 10px;
    color: white;
}
/* #login_btn{
    display: flex;
} */
   
#login_btn>div>img{
    width: 19%;
    border: 1px solid  ;
    cursor: pointer;
}
/* #login_btn:hover{
    background-color: #DD0285;
} */