body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

*{
 font-family: sans-serif;
}

p{
    font-size: 15px;
}

h3{
    font-weight: 400;
}
/* main body style below */
#main{
    /* border: 1px solid red; */
    margin-top: 10px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#main > div{
    /* border: 1px solid green; */
    height: auto;
    padding: 10px;
}
#main > div:nth-child(1){
    width: 20%;
}
#main > div:nth-child(2){
    width: 76%;
}

.card :hover{
    cursor: pointer;
}

/* sidebar style below */
#sidebar{
    padding: 10px;
    background-color: white;
}

#sidebar > div{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#sidebar > div > div:nth-child(2){
    font-size: 20px;
}

#sidebar > .side_img{
    width: 100%;
    padding: 0px;
}

#sidebar img{
    width: 100%;
}


#content{
    background-color: white;
}

/* childe 1 means => first div of content(sort,pagination are in this div) */
#content > div:nth-child(1){
    height: 100px;
    margin-bottom: 10px;
}

#content > div:nth-child(1) > hr{
    width: 99%;
}


/* child 2 means => products(img,title, etc) are in this div */
#content > div:nth-child(2){
    height: auto;
}

/* child 2 means => products(img,title, etc) are in this div */
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.products > div{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    text-align: center;
}

h4{
    color: rgb(221,2,133);
}

/* buttons style */
#buttons{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 7%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#cart{
    width: 70%;
    background-color: rgb(221,2,133);
    color: white;
    border: none;
    border-radius: 10px;
}

#like{
    width: 20%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#like img{
    margin:auto;
    width: 100%;
    height: 100%;
}

#sidebar{
    height: 500px;
    padding-bottom: 0px;
}

#main{
    margin-right:25px;
}


#sort{
    height: 40px;
    background-color: rgb(221, 213, 213);
}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination{
    display: flex;
    align-items: center;
    width: 15%;
    font-size: 15px;
}

.pagination p{
    padding: 8px 12px;
    background-color: #ddd;
    margin: auto;
  
}

#next,#prev{
    height: 35px;
}

#active{
    background-color: rgb(221,2,133);
}
button{
    border: none;
    cursor: pointer;
}


