
        nav{
            background-color: rgb(221,2,133);
            /* padding: 5px 12px; */
        }

         #nav_menu{
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 40px;
        }
        #nav_menu a{
            color: white;
            font-weight: bold;
            text-decoration: none;

        }

        #nav_menu li{
            padding: 10px 5px;
        }

        #nav_menu li:hover{
            background-color: rgb(198,2,119);
        }

        #div_search{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #div_search .navbar_signup{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        #div_search .navbar_signup > div{
            display: flex;
            align-items: center;
            font-size: 20px;
        }

        #div_search .navbar_signup > div:nth-child(1){
            border: 1px solid black;
            padding: 10px 10px;
        }

        #div_search .navbar_signup > div:nth-child(2){
            /* border: 1px solid red; */
            height: 50px;
        }

        #div_search .navbar_signup > div:nth-child(2) a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
        }

        #div_search .search_select, .search_enter{
            height: 50px;
            width: 30%;
            font-size: 15x;
            border: none;
        }

        #div_search .search_select{
            border: none;
            border-right: 1px solid rgb(160, 156, 156);
        }

 /* searbox container  */
        #div_search .nav_div_search_middle{
            display: flex;
            /* justify-content: space-between; */
            /* background-color: white; */
            width: 50%;
            margin: auto;
            border: 1px solid rgb(167, 162, 162);
        }

        #div_search .nav_div_search_middle .search_enter{
            width: 60%;
        }

        .nav_div_search_middle img{
            height: 40px;
            width: 40px;
        }

        .nav_div_search_middle div{
            margin: auto;
        }
        
        .nav_div_search_middle div:nth-child(3){
            /* border:1px solid red; */
            background-color: rgb(226, 17, 142);
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 6px 0px;
            color: white;
        }
        #navbar{
            margin-bottom: 10px;
        }
